ase
cachetools
emmet
fire
huggingface_hub
hydra-core
lmdb
mattersim
monty
numpy
omegaconf
pandas
pymatgen
pytest
pytorch_lightning
PyYAML
scipy
smact
sympy
torch
torch_geometric
torch_scatter
torch_sparse
tqdm
typing_extensions
